<template>
 <div class="homecontain">

	<div class="contain-elt">
		<HomeTitleView  />
	
	</div>

	<!-- ==========================================================================================================
								ADVANTAGES
			========================================================================================================== -->
		
			<FarotyServiceView />
	
	<!-- ==========================================================================================================
											SLIDER
		========================================================================================================== -->
	
	<div class="fh5co-slider-outer wow fadeIn" data-wow-delay="0.36s">
		<h1>SIMPLE WIDGETS</h1>
		<small>Drag and Drop</small>
		<div class="container fh5co-slider-inner">
	
			<div class="owl-carousel owl-theme">
	
				<div class="item"><img src="./../../public/index/img/smartphone-2.png" alt="slide1"></div>
				<div class="item"><img src="./../../public/index/img/smartphone-2.png" alt="slide2"></div>
				<div class="item"><img src="./../../public/index/img/iphone.png" alt="slide3"></div>
				<div class="item"><img src="./../../public/index/img/smartphone-2.png" alt="slide4"></div>
	
	
			</div>
	
		</div>
	</div>
	
	
	<!-- ==========================================================================================================
												FEATURES
		========================================================================================================== -->
	
	<div class="curved-bg-div wow animated fadeIn" data-wow-delay="0.15s"></div>
	<div id="fh5co-features" class="fh5co-features-outer">
		<div class="container">
	
			<div class="row fh5co-features-grid-columns">
	
				<div class="col-sm-6 in-order-1 wow animated fadeInLeft" data-wow-delay="0.22s">
					<div class="col-sm-image-container">
						<img class="img-float-left" src="./../../public/index/img/smartphone-1.png" alt="smartphone-1">
						<span class="span-new">NEW</span>
						<span class="span-free">Free</span>
					</div>
				</div>
	
				<div class="col-sm-6 in-order-2 sm-6-content wow animated fadeInRight" data-wow-delay="0.22s">
					<h1>New Features</h1>
					<p>Lorem 70pxipsum dolor sit amet, consectetur adipisicing elit. Aliquam dolor iste beatae ad adipisci, fugiat dignissimos pariatur, dolore nemo suscipit cum nisi earum voluptates nulla! </p>
					<span class="circle circle-first"><i class="fab fa-instagram"></i></span>
					<span class="circle circle-middle"><i class="fab fa-facebook"></i></span>
					<span class="circle circle-last"><i class="fab fa-twitter"></i></span>
				</div>
	
				<div class="col-sm-6 in-order-3 sm-6-content wow animated fadeInLeft" data-wow-delay="0.22s">
					<h1>REAL-TIME STATISTICS</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dolor iste beatae ad adipisci, fugiat dignissimos pariatur, dolore nemo suscipit cum nisi earum voluptates nulla! </p>
					<span class="circle circle-first"><i class="fas fa-star"></i></span>
					<span class="circle circle-middle"><i class="far fa-star"></i></span>
					<span class="circle circle-last"><i class="far fa-thumbs-up"></i></span>
				</div>
	
				<div class="col-sm-6 in-order-4 wow animated fadeInRight" data-wow-delay="0.22s">
					<img class="img-float-right" src="./../../public/index/img/smartphone-2.png" alt="smartphone-2">
				</div>
	
				<div class="col-sm-6 in-order-5 wow animated fadeInLeft" data-wow-delay="0.22s">
					<div class="col-sm-image-container">
						<img class="img-float-left" src="./../../public/index/img/smartphone-2.png" alt="smartphone-3">
						<span class="span-data">DATA</span>
						<span class="span-percent">100%</span>
					</div>
				</div>
				<div class="col-sm-6 in-order-6 sm-6-content wow animated fadeInRight" data-wow-delay="0.22s">
					<h1>POWERFUL BACKEND</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dolor iste beatae ad adipisci, fugiat dignissimos pariatur, dolore nemo suscipit cum nisi earum voluptates nulla! </p>
					<span class="circle circle-first">95%</span>
					<span class="circle circle-middle"><i class="fas fa-forward"></i></span>
					<span class="circle circle-last"><i class="fab fa-github"></i></span>
	
				</div>
	
	
	
	
			</div> <!-- row -->
	
	
		</div>
	</div>
	
	
	<!-- ==========================================================================================================
										REVIEWS
	========================================================================================================== -->
	
	<div id="fh5co-reviews" class="fh5co-reviews-outer">
		<h1>What people are saying</h1>
		<small>Reviews</small>
		<div class="container fh5co-reviews-inner">
			<div class="row justify-content-center">
				<div class="col-sm-5 wow fadeIn animated" data-wow-delay="0.25s">
					<img class="float-left" src="./../../public/index/img/quotes-1.jpg" alt="Quote 1">
					<p class="testimonial-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis similique quasi.</p>
					<small class="testimonial-author">John Doe</small>
					<img class="float-right" src="./../../public/index/img/quotes-2.jpg" alt="Quote 2">
				</div>
				<div class="col-sm-5 testimonial-2 wow fadeIn animated" data-wow-delay="0.67s">
					<img class="float-left" src="./../../public/index/img/quotes-1.jpg" alt="Quote 1">
					<p class="testimonial-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis similique quasi.</p>
					<small class="testimonial-author">Someone</small>
					<img class="float-right" src="./../../public/index/img/quotes-2.jpg" alt="Quote 2">
				</div>
			</div>
	
		</div>
	</div>
	
	.navbar-expand-lg .navbar-nav .nav-item a:hover {
  color: #234197 !important;
  -webkit-transition: all .33s ease;
  -moz-transition: all .33s ease;
  -o-transition: all .33s ease;
  -ms-transition: all .33s ease;
  transition: all .33s ease;
}
	<!-- ==========================================================================================================
											BOTTOM
	========================================================================================================== -->
	
	<div id="fh5co-download" class="fh5co-bottom-outer">
		<div class="overlay">
			<div class="container fh5co-bottom-inner">
				<div class="row">
					<div class="col-sm-6">
						<h1>How to download the app?</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque suscipit, similique animi saepe, ipsam itaque, tempore minus maxime pariatur error unde fugit tenetur.</p>
						<a class="wow fadeIn animated" data-wow-delay="0.25s" href="#"><img class="app-store-btn" src="../../public/index/img/app-store-icon.png" alt="App Store Icon"></a>
						<a class="wow fadeIn animated" data-wow-delay="0.67s" href="#"><img class="google-play-btn" src="../../public/index/img/google-play-icon.png" alt="Google Play Icon"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
 </div>

</template>

<script>
// @ is an alias to /src
import FarotyServiceView from "@/components/FarotyServiceView.vue";
import HomeTitleView from "@/components/HomeTitleView.vue";

export default {
  name: "HomeView",
  components: {
    FarotyServiceView,HomeTitleView
  },
};
</script>

<style scoped>
	.contain-elt{
		padding-top: 40px;
		height: 800px;
		width: 100%;
       background: url("../../public/index/img/banner-bg.jpg")  no-repeat center;
		/* background-color: #8352a5; */
		/* background-position: -12px -10px;
		background-size: 105% 800px; */
		border-radius: 0 0 50% 50% / 4%;

	}
	.homecontain{
		padding-top: 8vh;

	}


</style>
