<template>
  <div class="container text-center about">
    <div class="row">
      <div class="col">
        <h1>Un accès simple et sécurisé à votre contenu</h1>
        <p class="subtitle">Stockez vos fichiers et dossiers, partagez-les avec vos collaborateurs, et travaillez dessus depuis votre appareil mobile, tablette ou ordinateur </p> 
      </div>
    </div>
    <div class="row section2">
      <div class="col-md-8">
        <span class="text-description animated fadeInLeft wow" data-wow-delay="0.95s">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam illum exercitationem quam, dolor quia adipisci ipsa! Ab minus quibusdam impedit assumenda iste, fugit labore, molestias itaque porro placeat recusandae molestiae.</span>
       <div class="buttons">
         <button class="btn btn-faroty  wow fadeInLeft animated" data-wow-delay="0.85s">Download</button>
         <button class="btn btn-features animated fadeInLeft wow" data-wow-delay="0.95s">Features</button>
       </div>
        </div>
      <div class="col-md-4"> 
          <img class="fh5co-hero-mycollect animated fadeInRight wow" data-wow-delay="1s" src="./../assets/mycollect.png" alt="Smartphone">
      </div>
    </div>
    <span>vous n'avez pas un compte? <a href="http://">incrivez-vous</a></span>
  </div>
</template>

<style>
.about {
  padding-top: 10vh;
}
.fh5co-hero-mycollect{
  width: 100%;
  height: auto;
}
.col-md-8{
  margin-top: 40px;  
}
.section2{
  align-items: center;
  padding: 10px;
}
.subtitle{
  color: var(--darkGray);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}
.col h1{
  color: var(--dark);
font-size: 60px;
line-height: 72px;
}

.buttons{
 margin-top: 45px;
}

.buttons .btn-faroty{
  height: 50px;
  width: 20%;
  margin-right: 20px;
  background-color: var(--orange);
  color: var(--white);
  letter-spacing: .5mm;
  font-weight: 600;
  padding: 5px 20px;
	cursor: pointer;
	line-height: 24px;
	white-space: nowrap;
	
  
}


.buttons .btn-features {
  height: 50px;
  width: 20%;
  color: var(--faroty);
  border: 2px solid var(--darkGray);
  letter-spacing: .5mm;
  font-weight: 600;
  padding: 5px 20px;
	cursor: pointer;
	line-height: 24px;
	white-space: nowrap;
}


@media screen and (max-width: 800px) {
  .about {
    padding-top: 12vh;
  }
}
</style>
