<template>
    <div class="container about">
      <h1>This is an about webpages</h1>
    </div>
  </template>

  <style scoped>
    .about{
      padding-top: 10vh;
    }
    
    @media screen and (max-width: 800px) {
		.about{
		padding-top: 12vh;
	}
}
  </style>