<template>
    
<!-- <div class="footer-outer" id="footer">
    <div class="container">
        <div class="row">
                <section class="2u 6u(narrower) 12u$(mobilep)">
                        <h3>{{$t("footer.Societe")}}</h3>
                        <ul class="links">
                            <li> <a href="https://faroty.com/index.php?r=site/about">faroty SAS</a></li>							
                            <li><a href="https://faroty.com/index.php?r=site/joinus">{{$t("footer.Carrieres")}}</a></li>
                            <li><a href="https://faroty.com/index.php?r=site/contact">{{$t("footer.Actualites")}}</a></li>								
                        </ul>
                </section>
            
                <section class="3u 6u(narrower) 12u$(mobilep)">
                        <h3>{{$t("footer.Business")}}</h3>
                        <ul class="links">                            
                            <li><a href="https://faroty.com//index.php?r=site/crowdfunding">{{$t("footer.Demandez_un_partenariat")}}</a></li>
                            <li><a href="https://faroty.com//index.php?r=site/epass">{{$t("footer.Devenez_investisseur")}}</a></li>
                            <li><a href="https://faroty.com//index.php?r=site/mycollect">{{$t("footer.Decouvrez_nos_API")}}</a></li>										
                        </ul>
                </section>
               
                <section class="2u 6u(narrower) 12u$(mobilep)">
                        <h3>{{$t("footer.Communaute")}}</h3>
                        <ul class="links">                            
                            <li><a href="https://faroty.com//index.php?r=site/auth&pid=join">{{$t("footer.Assistance")}}</a></li>
                            <li><a href="https://faroty.com//index.php?r=site/auth">{{$t("footer.Conditions_generales")}}</a></li>
                            <li><a href="https://faroty.com//index.php?r=site/download">{{$t("footer.Politique_de_confidentialite")}}</a></li>										
                        </ul>
                </section>

                <section class="2u 6u$(narrower) 12u$(mobilep)">
                    <h3 style="margin-bottom:5px">{{$t("footer.Langue")}}</h3>
                        <select id="language" class="language" name="language" v-model="$i18n.locale">
                            <option value="fr" selected="selected">Français</option>
                            <option value="en">English</option>
                        </select>              

               </section>
        </div> -->

    <!-- Icons -->
         <!-- <ul class="icons">
            
        
                <li><a href="https://www.twitter.com/farotyMe/"  style=" color: #8352A5; font-size: 25px;"><span class="fab fa-twitter">Twitter</span></a></li>
                <li><a href="https://www.facebook.com/farotyMe/" style=" color: #8352A5; font-size: 25px;"  ><span class="fab fa-facebook-f">Facebook</span></a></li>
                <li><a href="https://www.youtube.com/channel/UCuaO5-8_MT9tykgaOFzPZHg" style=" color: #8352A5; font-size: 25px;"><span  class="fab fa-youtube">Youtube</span></a></li>
        </ul> -->

           
    <!-- Copyright -->
            <!-- <div class="copyright">
                <ul class="menu">
                        <li>&copy; Copyright 2018 - {{ new Date().getFullYear() }} Faroty. All rights reserved</li>
                    </ul>
            </div>
    </div>		
</div> -->

<footer class=" text-center footer-lg text-lg-start " id="footer">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-3 col-md-4 mb-4 mb-md-0">
        <h5 class="title">{{$t("footer.Societe")}}</h5>

        <ul class="list-unstyled mb-0">
            <li> <a href="https://faroty.com/index.php?r=site/about">faroty SAS</a></li>							
            <li><a href="https://faroty.com/index.php?r=site/joinus">{{$t("footer.Carrieres")}}</a></li>
            <li><a href="https://faroty.com/index.php?r=site/contact">{{$t("footer.Actualites")}}</a></li>								

        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="title mb-0">{{$t("footer.Business")}}</h5>

        <ul class="list-unstyled">
            <li><a href="https://faroty.com//index.php?r=site/crowdfunding">{{$t("footer.Demandez_un_partenariat")}}</a></li>
            <li><a href="https://faroty.com//index.php?r=site/epass">{{$t("footer.Devenez_investisseur")}}</a></li>
            <li><a href="https://faroty.com//index.php?r=site/mycollect">{{$t("footer.Decouvrez_nos_API")}}</a></li>										

        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="title">{{$t("footer.Communaute")}}</h5>

        <ul class="list-unstyled mb-0">
            <li><a href="https://faroty.com//index.php?r=site/auth&pid=join">{{$t("footer.Assistance")}}</a></li>
            <li><a href="https://faroty.com//index.php?r=site/auth">{{$t("footer.Conditions_generales")}}</a></li>
            <li><a href="https://faroty.com//index.php?r=site/download">{{$t("footer.Politique_de_confidentialite")}}</a></li>										

        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="title mb-0">{{$t("footer.Langue")}}</h5>

        <select id="language" class="language " name="language" v-model="$i18n.locale">
             <option value="fr" selected="selected">Français</option>
             <option value="en">English</option>
        </select>              

      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->
   <ul class="icons">
            
        
                <li><a href="https://www.twitter.com/farotyMe/" ><span class="fab fa-twitter">Twitter</span></a></li>
                <li><a href="https://www.facebook.com/farotyMe/"  ><span class="fab fa-facebook-f">Facebook</span></a></li>
                <li><a href="https://www.youtube.com/channel/UCuaO5-8_MT9tykgaOFzPZHg" ><span  class="fab fa-youtube">Youtube</span></a></li>
        </ul>
  <!-- Copyright -->
  <div class="copyright">
                <ul class="menu">
                        <li>&copy; Copyright 2018 - {{ new Date().getFullYear() }} Faroty. All rights reserved</li>
                    </ul>
            </div>

  <!-- Copyright -->
</footer>	

</template>

<script>

export default{
    data() {
        return {
            // key: value
        }
    },
}
</script>

<style  scoped>
 
.footer-lg{
    background-color: var(--faroty);
    color: var(--white);
}

#language{
    height: 30px;
    width: 45%;
    border-radius: 15px;
    border: none;
 }
 
.footer-lg h5{
   font-weight: 600;
}

.list-unstyled li a {
  color: var(--white);
  text-decoration: none;
}


 ul.icons {
		cursor: default;
	}

		ul.icons li {
			display: inline-block;			
                        background-color: #fff;
                        padding: 2px 0 0 0;
                        margin: 0 10px 0 10px;
                        height: 40px;
                        width: 40px;
                        border-radius: 40px;
		}

			ul.icons li:first-child {
				padding-left: 0;
			}

			ul.icons li a, ul.icons li span {				
				border: 0;
			}

 #footer .icons {  

      text-align: center;
      margin: 0;
		}
 
    #footer .icons li a {                    
            color:var(--faroty);
            font-size: 25px;
    }

    #footer .icons a:hover {
            opacity: .5;
    }

  

 #footer li a {
    color: antiquewhite;
 }
 #footer li {
    list-style: none;
 }
 #footer li a:hover {
    color: #234197;
 }
 .copyright ul li{
    color: wheat;
    list-style: none;
    text-align: center;
 }


 
</style>
