<template>
 

	<nav class="container navbar navbar-expand-lg">
  <div class="container-fluid">
	<router-link class="navbar-brand" to="/"> <img src="../assets/farotylogo.png" alt="faroty"></router-link>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav nav-items-center ml-auto mr-auto">
				<li class="nav-item">
					<router-link class="nav-link" to="/" href="#">{{$t("navbar.home")}}</router-link>
				</li>
				<li class="nav-item">
					<router-link class="nav-link" to="/mycollect">MyCollect</router-link>
				</li>
				<li class="nav-item">
					<router-link class="nav-link" to="/crowfunding">Crowdfunding</router-link>
				</li>
				<li class="nav-item">
					<router-link class="nav-link" to="/webpages">Webpages</router-link>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						{{$t("navbar.comment_sa_marche")}}
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<router-link class="dropdown-item" to="/mycollect">{{$t("navbar.aide_mycollect")}}</router-link>
						<router-link class="dropdown-item" to="/mycollect">{{$t("navbar.aide_crowfunding")}}</router-link>
						<router-link class="dropdown-item" to="/mycollect">{{$t("navbar.aide_webpages")}}</router-link>
					</div>
                </li>
				<li class="nav-item">
					<router-link class="nav-link" to="/connection">Connection</router-link>
				</li>
			</ul>
			<div class="dawnload">
				<button class="dawnload-btn">{{$t("common.download")}}</button>
			</div>
		</div>
  </div>
</nav>
    
</template>

<script>
    export default{
        data() {
            return {
                // key: value
            }
        },

    }
</script>
<style scoped>
/* :root {
  --faroty: #8352a5;
} */

.dropdown-menu{
	background-color: var(--faroty);
}
.navbar-expand-lg {
	height: 60px;
	color: var(--white);
	background-color: var(--faroty);
}
.navbar-expand-lg li{
	
	color: var(--white);
}
.dropdown .dropdown-menu .dropdown-item{
   color: var(--white);
	font-size: 16px;
    font-weight: 550;	
}
.navbar-brand{
  width: 17%;
}
.navbar-brand img{
	width: 65%;
    margin: auto;	

}
/* .nav-link{
	font-size: 16px;
    font-weight: 900;	
	color: var(--white);
} */
.dawnload-btn{
	height: 45px;
	padding: 5px 20px;
	cursor: pointer;
	font-size: 18px;
	line-height: 24px;
	white-space: nowrap;
	border: 2px solid #5C297F;
	background-color: #fff;
	color: #000000;
	font-weight: 600;
	letter-spacing: 1px;
	border-radius: 25px 25px 25px 25px;
}
.dawnload-btn:hover{
	background-color: #5C297F;
	color: #fff;
	font-weight: 550;
	-webkit-transition: all .33s ease;
	-moz-transition: all .33s ease;
	-o-transition: all .33s ease;
	-ms-transition: all .33s ease;
	transition: all .33s ease;
    
}

@media screen and (max-width: 1200px) {
 
 .navbar-brand{
	width: 30%;
 }

  .fh5co-hero-inner .fh5co-hero-smartphone {
    position: absolute;
    right: -15px;
    top: 200px;
    height: 550px;
  }
}
@media screen and (max-width: 993px) {
 
 .navbar-brand{
	width: 25%;
 }
 .navbar-expand-lg {
	height: auto;
}
  .fh5co-hero-inner .fh5co-hero-smartphone {
    position: absolute;
    right: -15px;
    top: 200px;
    height: 550px;
  }
}
@media screen and (max-width: 800px) {
 
 .navbar-brand{
	width: 30%;
 }
 .navbar-expand-lg {
	height: auto;
}

}
@media screen and (max-width: 520px) {
 
 .navbar-brand{
	width: 40%;
 }
 .navbar-expand-lg {
	height: auto;
}
  .fh5co-hero-inner .fh5co-hero-smartphone {
    position: absolute;
    right: -15px;
    top: 200px;
    height: 550px;
  }
}
</style>




