<template>
  
<div id="page-wrap">


<!-- ==========================================================================================================
										HERO
	========================================================================================================== -->

<div id="fh5co-hero-wrapper">
	
	<HeaderView />

  

</div> <!-- first section wrapper -->

  <router-view />




<!-- ==========================================================================================================
                              SECTION 7 - SUB FOOTER
========================================================================================================== -->
 <FooterVeiw />




</div> <!-- main page wrapper -->

</template>

<script>
  import HeaderView from '@/components/HeaderVeiw.vue';
  import FooterVeiw from '@/components/FooterView.vue';
    export default {
        components: {
            HeaderView, FooterVeiw
        }
    }
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}



</style>
